const apiKey= ""
const authDomain= ""
const databaseURL= ""
const projectId= ""
const storageBucket= ""
const messagingSenderId= ""
const appId= ""

export{ apiKey, authDomain, databaseURL, projectId, storageBucket, messagingSenderId, appId }